html {
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow: hidden;
  color: #333; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.colorinherit {
  color: inherit; }

.pagebox_wraper {
  height: 100vh;
  width: 100vw;
  display: block; }

.pagebox {
  height: 100%; }
  .pagebox .pagebox_inner {
    display: block;
    white-space: normal;
    height: 100%;
    width: 100%;
    position: relative; }
  .pagebox .pagebox_logo {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    vertical-align: top;
    position: absolute;
    left: 0;
    background-color: #333;
    color: #fff;
    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .pagebox .pagebox_header {
    position: relative;
    width: calc(100% - 50px);
    height: 50px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 50px;
    border-bottom: 1px solid #fff;
    background-color: #333;
    color: #fff;
    -webkit-transition-property: width, left;
    transition-property: width, left;
    -webkit-transition-duration: 0.5s, 0.5s;
    transition-duration: 0.5s, 0.5s; }
  .pagebox .pagebox_sidebar {
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100% - 50px);
    color: #fff;
    background-color: #333; }
    .pagebox .pagebox_sidebar:not(.pagebox_sidebar__locker).pagebox_sidebar__unfold, .pagebox .pagebox_sidebar:not(.pagebox_sidebar__locker).pagebox_sidebar__hover_unfold:hover {
      z-index: 2; }
      .pagebox .pagebox_sidebar:not(.pagebox_sidebar__locker).pagebox_sidebar__unfold > .pagebox_menu,
      .pagebox .pagebox_sidebar:not(.pagebox_sidebar__locker).pagebox_sidebar__unfold ~ .pagebox_logo, .pagebox .pagebox_sidebar:not(.pagebox_sidebar__locker).pagebox_sidebar__hover_unfold:hover > .pagebox_menu,
      .pagebox .pagebox_sidebar:not(.pagebox_sidebar__locker).pagebox_sidebar__hover_unfold:hover ~ .pagebox_logo {
        width: 180px; }
      .pagebox .pagebox_sidebar:not(.pagebox_sidebar__locker).pagebox_sidebar__unfold ~ .pagebox_header, .pagebox .pagebox_sidebar:not(.pagebox_sidebar__locker).pagebox_sidebar__hover_unfold:hover ~ .pagebox_header {
        left: 180px;
        width: calc(100% - 180px); }
      .pagebox .pagebox_sidebar:not(.pagebox_sidebar__locker).pagebox_sidebar__unfold ~ .pagebox_section, .pagebox .pagebox_sidebar:not(.pagebox_sidebar__locker).pagebox_sidebar__hover_unfold:hover ~ .pagebox_section {
        left: 180px;
        width: calc(100% - 180px); }
  .pagebox .pagebox_section {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    left: 50px;
    display: inline-block;
    vertical-align: top;
    -webkit-transition-property: width, left;
    transition-property: width, left;
    -webkit-transition-duration: 0.5s, 0.5s;
    transition-duration: 0.5s, 0.5s; }
  .pagebox .pagebox_layout {
    display: none; }
    .pagebox .pagebox_layout.layout__nologo ~ .pagebox_logo {
      display: none; }
    .pagebox .pagebox_layout.layout__nologo ~ .pagebox_header {
      width: 100% !important;
      left: 0px !important; }
    .pagebox .pagebox_layout.layout__nologo ~ .pagebox_sidebar {
      top: 0px;
      height: 100%; }
    .pagebox .pagebox_layout.layout__noheader ~ .pagebox_header, .pagebox .pagebox_layout.layout__empty ~ .pagebox_header {
      display: none; }
    .pagebox .pagebox_layout.layout__noheader ~ .pagebox_section, .pagebox .pagebox_layout.layout__empty ~ .pagebox_section {
      left: 50px;
      height: 100%; }
    .pagebox .pagebox_layout.layout__nosidebar ~ .pagebox_sidebar, .pagebox .pagebox_layout.layout__empty ~ .pagebox_sidebar {
      display: none; }
    .pagebox .pagebox_layout.layout__nosidebar ~ .pagebox_section, .pagebox .pagebox_layout.layout__empty ~ .pagebox_section {
      left: 0;
      width: 100%; }
    .pagebox .pagebox_layout.layout__noheader.layout__nosidebar ~ .pagebox_logo, .pagebox .pagebox_layout.layout__empty ~ .pagebox_logo {
      display: none; }
  .pagebox .pagebox_menu {
    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    overflow: hidden;
    width: 50px;
    padding: 10px 0; }
    .pagebox .pagebox_menu .pagebox_menu_li {
      width: 100%;
      display: block; }
      .pagebox .pagebox_menu .pagebox_menu_li.pagebox_menu_li__disable > .pagebox_menu_item > .item_header {
        color: rgba(255, 255, 255, 0.5);
        cursor: not-allowed; }
  .pagebox .pagebox_menu_item .item_header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    width: calc(100% - 0px);
    padding: 0px;
    margin: 0;
    height: 40px;
    margin: 0 0px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    color: #fff; }
    .pagebox .pagebox_menu_item .item_header .item_icon {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      width: 50px;
      height: 100%;
      font-size: 16px; }
    .pagebox .pagebox_menu_item .item_header .item_title {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0;
      -moz-box-flex: 1;
      -moz-flex: 1 0;
      -ms-flex: 1 0;
      flex: 1 0;
      overflow: hidden;
      white-space: nowrap; }

.vf-form {
  display: block; }
  .vf-form .vf-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    align-items: baseline;
    margin-bottom: 10px;
    min-height: 50px;
    position: relative; }
    .vf-form .vf-group .vf-label {
      width: 25%; }
    .vf-form .vf-group .vf-field {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  .vf-form .vf-field {
    position: relative;
    width: 75%; }
  .vf-form .vf-label {
    text-align: right; }
  .vf-form textarea.vf-control {
    height: auto; }
  .vf-form .vf-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
    .vf-form .vf-control.vf-dirty {
      border-color: #9E9E9E; }
    .vf-form .vf-control.vf-invalid {
      border-color: #de1d5f; }
  .vf-form .vf-field-message {
    color: #de1d5f;
    padding: 5px 8px; }
  .vf-form .vf-after-field {
    position: absolute;
    left: 100%;
    top: 8px;
    margin-left: 8px;
    width: 50px;
    color: #9E9E9E; }

.node_item .node_header {
  margin-bottom: 10px; }
  .node_item .node_header .node_type__spec,
  .node_item .node_header .node_type__part {
    display: none; }
  .node_item .node_header[type="3"] .node_type__part,
  .node_item .node_header[type="4"] .node_type__spec {
    display: inline-block; }

.node_item .node_ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style: none; }

#site .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header {
  position: relative; }
  #site .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header:hover {
    color: #9bc760; }
  #site .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header.router-link-active {
    color: #82b440; }

#companyList .pagebox_header {
  background-color: #82b440; }

#companyList .pagebox_sidebar {
  background-color: #82b440; }

#companyList .pagebox_logo {
  background-color: #82b440; }

#companyList .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header {
  position: relative; }
  #companyList .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header:hover {
    color: rgba(0, 0, 0, 0.5); }
  #companyList .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header.router-link-active {
    color: #678e33; }

#companyList .company_section {
  position: relative;
  width: 100%; }

#companyList .company_navheader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 50px;
  width: 100%;
  color: #fff;
  padding: 0 10px; }

#companyList .company_body {
  position: relative;
  left: 0;
  max-height: calc(100% - 50px - 2px);
  padding: 0px 2px; }

#companyList .companies_table {
  position: relative;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 800px;
  max-width: 100%; }
  #companyList .companies_table td {
    padding: 12px 11px;
    vertical-align: middle;
    border-top: 1px solid #CCC5B9; }
  #companyList .companies_table th {
    padding: 8px 11px;
    vertical-align: middle;
    font-size: 1.2rem;
    text-align: left; }
  #companyList .companies_table .row_toolbar {
    text-align: right; }
    #companyList .companies_table .row_toolbar .row_tool {
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      color: cornflowerblue;
      margin-right: 5px; }
      #companyList .companies_table .row_toolbar .row_tool:hover {
        color: #3676e8; }
  #companyList .companies_table .row_title {
    display: block; }
  #companyList .companies_table .row_phones {
    list-style: none;
    margin: 0;
    padding: 0; }
    #companyList .companies_table .row_phones span {
      margin-right: 5px; }

#companyDetail .pagebox_header {
  background-color: #678e33; }

#companyDetail .pagebox_sidebar {
  background-color: #678e33; }

#companyDetail .pagebox_logo {
  background-color: #678e33; }

#companyDetail .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header {
  position: relative; }
  #companyDetail .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header.router-link-active {
    color: currentColor; }

#companyDetail .company_save {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer; }
  #companyDetail .company_save:hover {
    opacity: 0.8; }

#companyDetail .company_edit_form {
  display: block;
  width: 50vw;
  max-width: 500px;
  min-width: 300px;
  padding: 50px 10px; }

#companyDetail .company_form .company_form_phones {
  list-style: none;
  padding: 0;
  margin: 0; }

#companyDetail .company_form .phones_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 5px 8px;
  margin-bottom: 5px;
  height: 30px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }
  #companyDetail .company_form .phones_item.phones_item__focus {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  #companyDetail .company_form .phones_item.phones_item__focus .item_type, #companyDetail .company_form .phones_item:hover .item_type {
    color: #3e561f; }
  #companyDetail .company_form .phones_item.phones_item__focus .item_control, #companyDetail .company_form .phones_item:hover .item_control {
    visibility: visible; }
  #companyDetail .company_form .phones_item .item_type {
    color: #678e33;
    width: 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center; }
  #companyDetail .company_form .phones_item .item_contactor {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    #companyDetail .company_form .phones_item .item_contactor input {
      text-align: right; }
  #companyDetail .company_form .phones_item .item_phone {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    #companyDetail .company_form .phones_item .item_phone.vf-field-dirty.vf-field-invalid-required input.vf-invalid-required::-webkit-input-placeholder {
      color: #de1d5f; }
    #companyDetail .company_form .phones_item .item_phone.vf-field-dirty.vf-field-invalid-required input.vf-invalid-required::-moz-placeholder {
      color: #de1d5f; }
    #companyDetail .company_form .phones_item .item_phone.vf-field-dirty.vf-field-invalid-required input.vf-invalid-required:-ms-input-placeholder {
      color: #de1d5f; }
    #companyDetail .company_form .phones_item .item_phone.vf-field-dirty.vf-field-invalid-required input.vf-invalid-required:-moz-placeholder {
      color: #de1d5f; }
  #companyDetail .company_form .phones_item .item_control {
    width: 34px;
    padding: 0 8px;
    border-left: 1px solid #ddd;
    cursor: pointer;
    color: #9e9e9e;
    visibility: hidden; }
    #companyDetail .company_form .phones_item .item_control:hover {
      color: #6b6b6b; }
    #companyDetail .company_form .phones_item .item_control .plus_button {
      font-size: 14px;
      border: none;
      outline: none;
      background-color: transparent;
      color: #9e9e9e;
      padding: 0;
      margin: 0;
      cursor: pointer; }
      #companyDetail .company_form .phones_item .item_control .plus_button:focus {
        -webkit-box-shadow: 0px 0px 8px -4px #678e33;
        -moz-box-shadow: 0px 0px 8px -4px #678e33;
        box-shadow: 0px 0px 8px -4px #678e33;
        color: #678e33;
        font-size: 16px; }
  #companyDetail .company_form .phones_item input {
    border: none;
    outline: none;
    border-bottom: 1px solid transparent;
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 0 8px;
    background-color: transparent; }

.searchbar {
  height: 30px;
  position: relative;
  margin-right: 10px; }
  .searchbar label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    cursor: pointer; }
  .searchbar .clean_input {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle; }
    .searchbar .clean_input:hover {
      opacity: 0.8; }
    .searchbar .clean_input:active {
      margin-top: 1px; }
  .searchbar #search_input {
    height: 100%;
    padding: 5px 5px 5px 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px; }
    .searchbar #search_input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px; }
    .searchbar #search_input::-moz-placeholder {
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px; }
    .searchbar #search_input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px; }
    .searchbar #search_input:-moz-placeholder {
      color: rgba(255, 255, 255, 0.7);
      font-size: 14px; }

#objectList {
  position: relative; }
  #objectList .pagebox_header {
    background-color: #2e88d0; }
  #objectList .pagebox_sidebar {
    background-color: #2e88d0; }
  #objectList .pagebox_logo {
    background-color: #2e88d0; }
  #objectList .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header {
    position: relative; }
    #objectList .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header:hover {
      color: rgba(0, 0, 0, 0.5); }
    #objectList .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header.router-link-active {
      color: #256da6; }
  #objectList .object_navheader {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    height: 50px;
    width: 100%;
    color: #fff;
    padding: 0 10px; }
  #objectList .object_table {
    position: relative;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 800px;
    max-width: 100%; }
    #objectList .object_table tr:hover {
      background-color: rgba(66, 148, 213, 0.1); }
    #objectList .object_table td {
      padding: 12px 11px;
      vertical-align: middle;
      border-top: 1px solid #CCC5B9; }
    #objectList .object_table th {
      padding: 8px 11px;
      vertical-align: middle;
      font-size: 1.2rem;
      text-align: left; }
    #objectList .object_table .th_id {
      width: 1px;
      white-space: nowrap; }
    #objectList .object_table .th_summary {
      width: 10vw; }
    #objectList .object_table .th_toolbar,
    #objectList .object_table .row_toolbar {
      text-align: right; }
      #objectList .object_table .th_toolbar .row_tool,
      #objectList .object_table .row_toolbar .row_tool {
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        color: cornflowerblue;
        margin-right: 5px; }
        #objectList .object_table .th_toolbar .row_tool:hover,
        #objectList .object_table .row_toolbar .row_tool:hover {
          color: #3676e8; }
    #objectList .object_table .row_id {
      text-align: center; }
    #objectList .object_table .row_summary {
      max-height: 48px;
      overflow-y: hidden;
      display: block;
      text-overflow: ellipsis;
      white-space: pre; }

#object .pagebox_header {
  background-color: #256da6; }

#object .pagebox_sidebar {
  background-color: #256da6; }

#object .pagebox_logo {
  background-color: #256da6; }

#object .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header {
  position: relative; }
  #object .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header:hover {
    color: rgba(0, 0, 0, 0.5); }
  #object .pagebox_menu_li:not(.pagebox_menu_li__disable) .item_header.router-link-active {
    color: rgba(0, 0, 0, 0.5); }

#object .profile_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 100%; }

#profile .profile_form_wrapper {
  display: block;
  width: 50vw;
  max-width: 500px;
  min-width: 300px;
  padding: 50px 10px; }

#profile .profile_form .phones_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  padding: 5px 8px;
  margin-bottom: 5px;
  height: 30px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent; }
  #profile .profile_form .phones_item.phones_item__focus {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  #profile .profile_form .phones_item.phones_item__focus .item_type, #profile .profile_form .phones_item:hover .item_type {
    color: #123653; }
  #profile .profile_form .phones_item.phones_item__focus .item_control, #profile .profile_form .phones_item:hover .item_control {
    visibility: visible; }
  #profile .profile_form .phones_item .item_type {
    color: #205f91;
    width: 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center; }
  #profile .profile_form .phones_item .item_contactor {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    #profile .profile_form .phones_item .item_contactor input {
      text-align: right; }
  #profile .profile_form .phones_item .item_phone {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    #profile .profile_form .phones_item .item_phone.vf-field-dirty.vf-field-invalid-required input.vf-invalid-required::-webkit-input-placeholder {
      color: #de1d5f; }
    #profile .profile_form .phones_item .item_phone.vf-field-dirty.vf-field-invalid-required input.vf-invalid-required::-moz-placeholder {
      color: #de1d5f; }
    #profile .profile_form .phones_item .item_phone.vf-field-dirty.vf-field-invalid-required input.vf-invalid-required:-ms-input-placeholder {
      color: #de1d5f; }
    #profile .profile_form .phones_item .item_phone.vf-field-dirty.vf-field-invalid-required input.vf-invalid-required:-moz-placeholder {
      color: #de1d5f; }
  #profile .profile_form .phones_item .item_control {
    width: 34px;
    padding: 0 8px;
    border-left: 1px solid #ddd;
    cursor: pointer;
    color: #9e9e9e;
    visibility: hidden; }
    #profile .profile_form .phones_item .item_control:hover {
      color: #6b6b6b; }
    #profile .profile_form .phones_item .item_control .plus_button {
      font-size: 14px;
      border: none;
      outline: none;
      background-color: transparent;
      color: #9e9e9e;
      padding: 0;
      margin: 0;
      cursor: pointer; }
      #profile .profile_form .phones_item .item_control .plus_button:focus {
        -webkit-box-shadow: 0px 0px 8px -4px #205f91;
        -moz-box-shadow: 0px 0px 8px -4px #205f91;
        box-shadow: 0px 0px 8px -4px #205f91;
        color: #205f91;
        font-size: 16px; }
  #profile .profile_form .phones_item input {
    border: none;
    outline: none;
    border-bottom: 1px solid transparent;
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 0 8px;
    background-color: transparent; }

.tabpanel .tabs_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.tabpanel .tab_item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: relative;
  margin-right: 17px;
  margin-bottom: 8px;
  padding: 0px 8px;
  height: 24px; }
  .tabpanel .tab_item.tab_item__istab {
    position: relative;
    background-color: #2e88d0;
    color: #fff;
    white-space: nowrap; }
    .tabpanel .tab_item.tab_item__istab:hover .tab_item__delete {
      visibility: visible; }
    .tabpanel .tab_item.tab_item__istab .tab_item__delete {
      position: relative;
      z-index: 1;
      margin-right: -12px;
      padding-left: 5px;
      visibility: hidden;
      cursor: pointer; }
    .tabpanel .tab_item.tab_item__istab::after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12px 0 12px 12px;
      border-color: transparent transparent transparent #2e88d0;
      left: 100%;
      top: 0; }
  .tabpanel .tab_item.tab_item__search {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 60px; }

.tabpanel .search_tab_input {
  position: relative;
  display: block;
  width: 100%; }
  .tabpanel .search_tab_input input {
    border: none;
    outline: none;
    position: relative;
    background-color: transparent;
    width: 100%; }
    .tabpanel .search_tab_input input:focus + .dropdown_menu.show_menu {
      display: block; }
  .tabpanel .search_tab_input .dropdown_menu {
    -webkit-box-shadow: 0px 2px 3px -2px rgba(50, 50, 50, 0.38);
    -moz-box-shadow: 0px 2px 3px -2px rgba(50, 50, 50, 0.38);
    box-shadow: 0px 2px 3px -2px rgba(50, 50, 50, 0.38);
    border: 1px solid #ddd;
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% + 50px);
    display: none;
    background-color: #fff; }
    .tabpanel .search_tab_input .dropdown_menu.show_menu {
      display: block; }
    .tabpanel .search_tab_input .dropdown_menu .menu_list {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      width: 100%; }
    .tabpanel .search_tab_input .dropdown_menu .menu_item {
      width: 100%;
      padding: 5px 8px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      outline: none; }
      .tabpanel .search_tab_input .dropdown_menu .menu_item.menu_item__focus {
        background-color: #2e88d0;
        color: #fff; }
    .tabpanel .search_tab_input .dropdown_menu .create_tab {
      width: 100%;
      padding: 3px 8px;
      border-top: 1px solid #ddd; }
