@import "~styles/mixin";
@import "~styles/Pagebox";

#companyList
{
    $mainColor: #82b440;
    $navheaderHeight: 50px;
    $bodyPadding: 2px;
    $companyItemHeight: 50px;

    @include pageboxtheme((
        logoBgColor: $mainColor,
        sidebarBgColor: $mainColor,
        headerBgColor: $mainColor,
        itemHoverFontColor: rgba(0, 0, 0, 0.5),
        itemActiveFontColor: darken($mainColor, 10%)
    ));

    .company_section
    {
        position: relative;
        width: 100%;
    }

    .company_navheader
    {
        @include flexbox();
        @include flex-just(space-between);
        @include align-items(center);

        height: $navheaderHeight;
        width: 100%;
        color: #fff;
        padding: 0 10px;
    }

    .company_body
    {
        position: relative;
        left: 0;
        max-height: calc(100% - #{$navheaderHeight} - 2px);
        padding: 0px $bodyPadding;
    }

    .companies_table
    {
        position: relative;
        margin-bottom: 20px;
        border-collapse: collapse;
        border-spacing: 0;
        min-width: 800px;
        max-width: 100%;

        td
        {
            padding: 12px 11px;
            vertical-align: middle;
            border-top: 1px solid #CCC5B9;
        }

        th
        {
            padding: 8px 11px;
            vertical-align: middle;
            font-size: 1.2rem;
            text-align: left;
        }

        .row_toolbar
        {
            text-align: right;

            .row_tool
            {
                display: inline-block;
                vertical-align: top;
                cursor: pointer;
                color: cornflowerblue;
                margin-right: 5px;

                &:hover
                {
                    color: darken(cornflowerblue, 10%);
                }
            }
        }

        .row_title
        {
            display: block;
        }

        .row_phones
        {
            list-style: none;
            margin: 0;
            padding: 0;

            span
            {
                margin-right: 5px;
            }
        }
    }
}