#companyList
{
    $mainColor: #82b440;
    $navheaderHeight: 50px;
    $bodyPadding: 2px;
    $companyItemHeight: 50px;

    @include pageboxtheme((
        logoBgColor: $mainColor,
        sidebarBgColor: $mainColor,
        headerBgColor: $mainColor,
        itemHoverFontColor: rgba(0, 0, 0, 0.5),
        itemActiveFontColor: darken($mainColor, 10%);
    ));

    .company_section
    {
        position: relative;
        width: 100%;
    }

    // .company_navheader
    // {
    //     height: $navheaderHeight;
    //     width: 100%;
    //     display: block;
    //     border-bottom: 2px solid #fff;
    //     color: #fff;
    //     padding: 10px;

    //     .navheader_inner
    //     {
    //         @include flexbox();
    //         @include flex-just(flex-start);
    //         @include align-items(center);
    //         height: 100%;
    //         width: 100%;
    //     }
    // }

    .company_navheader
    {
        @include flexbox();
        @include flex-just(space-between);
        @include align-items(center);

        height: $navheaderHeight;
        width: 100%;
        color: #fff;
        padding: 0 10px;
    }

    .company_body
    {
        position: relative;
        left: 0;
        max-height: calc(100% - #{$navheaderHeight} - 2px);
        padding: 0px $bodyPadding;
    }

    .companies_table
    {
        position: relative;
        margin-bottom: 20px;
        border-collapse: collapse;
        border-spacing: 0;
        min-width: 800px;
        max-width: 100%;

        td
        {
            padding: 12px 11px;
            vertical-align: middle;
            border-top: 1px solid #CCC5B9;
        }

        th
        {
            padding: 8px 11px;
            vertical-align: middle;
            font-size: 1.2rem;
            text-align: left;
        }

        .row_toolbar
        {
            text-align: right;

            .row_tool
            {
                display: inline-block;
                vertical-align: top;
                cursor: pointer;
                color: cornflowerblue;
                margin-right: 5px;

                &:hover
                {
                    color: darken(cornflowerblue, 10%);
                }
            }
        }

        .row_title
        {
            display: block;
        }

        .row_phones
        {
            list-style: none;
            margin: 0;
            padding: 0;

            span
            {
                margin-right: 5px;
            }
        }
    }

    .searchbar
    {
        $regionHeight: 30px;
        $fontColor: #fff;
        $fontSize: 16px;
        $fontHoverSize: 14px;

        height: $regionHeight;
        position: relative;
        margin-right: 10px;

        label
        {
            @include flexbox();
            @include flex-just(center);
            @include align-items(center);
            position: absolute;
            top: 0;
            left: 0;
            width: $regionHeight;
            height: $regionHeight;
            cursor: pointer;
        }

        .clean_input
        {
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;

            &:hover
            {
                opacity: 0.8;
            }

            &:active
            {
                margin-top: 1px;
            }
        }

        #search_input
        {
            height: 100%;
            padding: 5px 5px 5px $regionHeight;
            background-color: transparent;
            border: none;
            outline: none;
            color: $fontColor;
            font-size: $fontSize;

            @include placeholder
            {
                color: rgba($fontColor, .7);
                font-size: $fontHoverSize;
            }
        }


    }
}

#companyDetail
{
    $mainColor: darken(#82b440, 10%);

    @include pageboxtheme((
        logoBgColor: $mainColor,
        sidebarBgColor: $mainColor,
        headerBgColor: $mainColor,
        itemActiveFontColor: currentColor
    ));

    .company_save
    {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        font-size: 20px;
        cursor: pointer;

        &:hover
        {
            opacity: 0.8;
        }
    }

    .company_edit_form
    {
        display: block;
        width: 50vw;
        max-width: 500px;
        min-width: 300px;

        padding: 50px 10px;
    }


    .company_form
    {

        .company_form_phones
        {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .phones_item
        {
            @include flexbox();
            @include flex-wrap(nowrap);
            @include flex-just();
            @include align-items(center);
            padding: 5px 8px;
            margin-bottom: 5px;
            height: 30px;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;

            &.phones_item__focus
            {
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
            }

            &.phones_item__focus,
            &:hover
            {
                // background-color: rgba(lighten($mainColor, 15%), .3);

                .item_type
                {
                    color: darken($mainColor, 15%);
                }

                .item_control
                {
                    visibility: visible;
                }
            }

            .item_type
            {
                color: $mainColor;
                width: 20px;
                cursor: pointer;
                font-size: 16px;
                text-align: center;
            }

            .item_contactor
            {
                @include flex(1);

                input
                {
                    text-align: right;
                }
            }

            .item_phone
            {
                @include flex(1);
            }

            .item_control
            {
                $color: #9e9e9e;
                width: 34px;
                padding: 0 8px;
                border-left: 1px solid #ddd;
                cursor: pointer;
                color: $color;
                visibility: hidden;

                &:hover
                {
                    color: darken($color, 20%);
                }

                .plus_button
                {
                    font-size: 14px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: $color;
                    padding: 0;
                    margin: 0;
                    cursor: pointer;

                    &:focus
                    {
                        @include box-shadow(0px 0px 8px -4px $mainColor);
                        color: $mainColor;
                        font-size: 16px;
                    }
                }
            }

            input
            {
                border: none;
                outline: none;
                border-bottom: 1px solid transparent;
                display: block;
                width: 100%;
                font-size: 14px;
                padding: 0 8px;
                background-color: transparent;
            }
        }
    }
}


