{% extends 'overall/html.twig' %}

{% block Body %}

    <div class="pagebox_wraper">
        <pagebox
            id="site"
            :layout="{
                header: false
            }"
            :menu="sitemenu"
            class="default"
        >
            <template slot="section">
                <router-view></router-view>
            </template>
        </pagebox>
    </div>

{% endblock %}

{% block templates %}
    <script type="text/x-template" id="pagebox-template">
        {% include 'ui/pagebox.twig' %}
    </script>

    <script type="text/x-template" id="companies-template">
        {% include 'Company/list.twig' %}
    </script>

    <script type="text/x-template" id="company-template">
        {% include 'Company/detail.twig' %}
    </script>

{% endblock %}

{% block scripts %}

    <script src="js/pagebox.js"></script>
    <script src="js/Company/company.js"></script>
    <script src="js/Object/objectList.js"></script>
    <script src="js/Object/objectDetail.js"></script>

    {{ parent() }}
{% endblock scripts %}

