{% extends 'overall/html.twig' %}

{% block meta %}
<meta name="robots" content="noindex">
<meta name="googlebot" content="noindex">
{% endblock %}

{% block Body %}
<div id="app"></div>
{% endblock %}