<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block meta %}{% endblock %}

    <title>{% block Title %}{% endblock Title %}</title>

    <base href="{{ basePath }}/">

    {% block styles %}
        <link rel="stylesheet" href="css/normalize.css">
        {# <link rel="stylesheet" href="css/stylesheets.css"> #}
        <link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
    {% endblock styles %}

</head>
<body >

    <div class="{% block pageClass %}site_body{% endblock %}">
        {% block Header %}
            {% include "overall/header.twig" %}
        {% endblock Header %}
        {% block Body %}
            {% include "overall/notfound.twig" %}
        {% endblock Body %}
        {% block Footer %}
            {% include "overall/footer.twig" %}
        {% endblock Footer %}
    </div>


    {% block scripts %}
    <script src="js/jquery/jquery.min.js"></script>
    <script src="dist/build.js"></script>
    {% endblock scripts %}

</body>
</html>