<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex">

    <title>{% block Title %}Heitoong{% endblock Title %}</title>

    <base href="{{ basePath }}/">

    {% block styles %}
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/stylesheets.css">
        <link rel="stylesheet" href="css/font-awesome/css/font-awesome.css">
    {% endblock styles %}

</head>
<body >

    <div class="{% block pageClass %}site_body{% endblock %}" id="app">
        {% block Header %}
            {% include "overall/header.twig" %}
        {% endblock Header %}
        {% block Body %}
            {% include "overall/notfound.twig" %}
        {% endblock Body %}
        {% block Footer %}
            {% include "overall/footer.twig" %}
        {% endblock Footer %}
    </div>

    <script src="js/jquery/jquery.min.js"></script>
    <script src="js/vue/vue.min.js"></script>
    <script src="js/vue2-filters/vue2-filters.min.js"></script>
    <script src="js/vue-router/vue-router.min.js"></script>
    <script src="js/vue-form/vue-form.min.js"></script>

    {% block templates %}{% endblock %}

    <script src="js/helper.js"></script>

    {% block scripts %}
    <script src="js/form.js"></script>
    <script src="js/app.js"></script>
    {% endblock scripts %}

</body>
</html>