<pagebox id="company" menu="companyMenu">
    <section>
        <div class="pagebox_section_scroll">
            <a href="company">company</a>
            <a href="company/123">company/123</a>
            <a href="company/456">company/456</a>
        </div>
    </section>
</pagebox>