<pagebox
    id="companyDetail"
    :layout="{}"
    :menu="menu"
>
    <template slot="logo">
        <i aria-hidden="true" v-if="inserted" class="fa fa-plus"></i>
        <i aria-hidden="true" v-else class="fa fa-pencil"></i>
    </template>
    <template slot="header">
        <div class="company_navheader">
            <div>
                <h2 v-if="inserted">新增廠商</h2>
                <h2 v-else>編輯廠商</h2>
            </div>
        </div>
    </template>
    <template slot="section">
        <div class="company_detail">

            <div class="company_edit_form">
                <vue-form :state="formstate" {# @submit.prevent="saveSubmit(formstate)" #} class="vf-form company_form">

                    <validate tag="div" class="vf-group">
                        <label class="vf-label" for="title">公司名稱：</label>
                        <div class="vf-field">
                            <input type="text" class="vf-control" v-model.trim="company.title" required name="title" placeholder="*必填">
                            <field-messages name="title" show="$dirty && $touched" class="vf-after-field">未儲存</field-messages>
                        </div>
                    </validate>

                    <validate tag="div" class="vf-group">
                        <label class="vf-label" for="address">地址：</label>
                        <div class="vf-field">
                            <input type="text" class="vf-control" v-model="company.address" name="address">
                            <field-messages name="address" show="$dirty && $touched" class="vf-after-field">未儲存</field-messages>
                        </div>
                    </validate>

                    <validate tag="div" class="vf-group">
                        <label class="vf-label" for="email">Email：</label>
                        <div class="vf-field">
                            <input type="email" class="vf-control" v-model="company.email" name="email" placeholder="example@mail.com">
                            <field-messages name="email" show="$dirty && $touched" class="vf-after-field">未儲存</field-messages>
                            <field-messages name="email">
                                <div slot="email" class="vf-field-message">信箱格式錯誤</div>
                            </field-messages>
                        </div>
                    </validate>

                    <validate tag="div" class="vf-group" >
                        <label class="vf-label" for="owner">負責人：</label>
                        <div class="vf-field">
                            <input type="text" class="vf-control" v-model="company.owner" name="owner">
                            <field-messages name="owner" show="$dirty && $touched" class="vf-after-field">未儲存</field-messages>
                        </div>
                    </validate>

                    <div class="vf-group">
                        <label class="vf-label" for="contactor">聯絡：</label>
                        <div class="vf-field">
                            <ul class="company_form_phones">
                                <li
                                    class="phones_item"
                                    v-for="(item, key) in company.phones"
                                    :class="{
                                        phones_item__focus: item.focus,
                                        phones_item__error: formstate['photo']
                                    }"
                                >
                                    <div class="item_type" @click="PhoneControl.toggleType(item)">
                                        <i v-if="item.type == 0" class="fa fa-phone-square" aria-hidden="true"></i>
                                        <i v-else class="fa fa-fax" aria-hidden="true"></i>
                                    </div>
                                    <validate class="item_phone">
                                        <input type="text" required
                                            :name="'phone' + key"
                                            placeholder="*電話"
                                            v-model.trim="item.phone"
                                            @change="phoneschange += 1"
                                            @focus="PhoneControl.toggleFocus(item, true)"
                                            @blur="PhoneControl.toggleFocus(item, false)"
                                        >
                                    </validate>
                                    <validate class="item_contactor">
                                        <input type="text" :index="key"
                                            :name="'contactor' + key"
                                            placeholder="輸入聯絡人"
                                            v-model.trim="item.contactor"
                                            @change="phoneschange += 1"
                                            @focus="PhoneControl.toggleFocus(item, true)"
                                            @blur="PhoneControl.toggleFocus(item, false)"
                                        >
                                    </validate>
                                    <div class="item_control" @click="PhoneControl.remove(key)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </div>
                                </li>
                                <li class="phones_item" :class="{phones_item__focus: PhoneControl.focus}">
                                    <div class="item_type">
                                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                    </div>
                                    <div class="item_phone">
                                        <input type="text" v-model="PhoneControl.newPhone" id="insertphone" @focus="PhoneControl.focus = true" @blur="PhoneControl.insert(event)" @keydown.pervent.enter.tab="PhoneControl.insert(event)" placeholder="新增">
                                    </div>
                                </li>
                            </ul>

                            <validate>
                                <input type="text" v-model="phoneschange" name="phones" v-show="false">
                                <field-messages name="phones" show="$dirty && $touched" class="vf-after-field">未儲存</field-messages>
                            </validate>
                        </div>
                    </div>

                    <validate tag="div" class="vf-group">
                        <label class="vf-label" for="summary">備註：</label>
                        <div class="vf-field">
                            <textarea type="text" class="vf-control" v-model="company.summary" name="summary" style="height: 150px"></textarea>
                            <field-messages name="summary" show="$dirty && $touched" class="vf-after-field">未儲存</field-messages>
                        </div>
                    </validate>

                </vue-form>
            </div>
        </div>
    </template>
</pagebox>