<div class="pagebox">
    {% spaceless %}
    <div class="pagebox_inner">
        {#
            -- Navbar --
        #}
        <div
            class="pagebox_navbar"
            ng-style="navStyle"
            ng-click="PageBox.navUnfold = true;"
            ng-class="{
                pagebox_navbar__locked: PageBox.$navLock
            }"
        >
            <div class="pagebox_navbar_inner">
                <div class="pagebox_icon" ng-transclude="logo">
                    <i class="fa fa-list-ul"></i>
                </div>
                <ul class="pagebox_menu">
                    <li
                        class="pagebox_menu_li"
                        ng-repeat="(code, item) in PageBox.menu"
                    >
                        <div class="pagebox_menu_item" title="[[ item.title ]]">
                            <a
                                class="item_header"
                                href="[[ item.url || 'javascript:void(0)' ]]"
                                ng-click="item.click($event) || angular.noop"
                            >
                                <div class="item_icon" ng-bind-html="item.icon | html"></div>
                                <div class="item_title">[[ item.title ]]</div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {#
            -- Section --
        #}
        <div class="pagebox_section" ng-transclude="section"></div>
    </div>
    {% endspaceless %}
</div>
