<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(js|css|images)/(\w+)/(.*)$ ../modules/$2/$1/$3 [QSA,L]

    # RewriteEngine On
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteRule ^css/(\w+)/(.*)$ ../modules/$1/css/$2 [QSA,L]

    # RewriteEngine On
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteRule ^images/(\w+)/(.*)$ ../modules/$1/images/$2 [QSA,L]

    RewriteEngine On
    # RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]

</IfModule>