<div class="pagebox">

    <div class="pagebox_inner">
        {#
            -- Navbar --
        #}
        <div
            class="pagebox_navbar"
            @click="navbar.locked = true"
            :style="navbar.style"
            :class="{
                pagebox_navbar__locked: navbar.locked,
                pagebox_navbar__unfold: navbar.unfold
            }"
        >
            <div class="pagebox_navbar_inner">
                <div class="pagebox_icon">
                    <slot name="logo">
                        <i class="fa fa-list-ul"></i>
                    </slot>
                </div>
                <ul class="pagebox_menu">
                    <li
                        class="pagebox_menu_li"
                        v-for="item in menu"
                        :class="{
                            pagebox_menu_li__disable: item.disable
                        }"
                    >
                        <div class="pagebox_menu_item" :title="item.title">
                            <div v-if="item.url">
                                <router-link
                                    class="item_header"
                                    :to="item.url"

                                >
                                    <div class="item_icon" v-html="item.icon"></div>
                                    <div class="item_title" v-text="item.title"></div>
                                </router-link>
                            </div>
                            <div v-else>
                                <div
                                    class="item_header"
                                    @click="item.click()"
                                >

                                    <div class="item_icon" v-html="item.icon"></div>
                                    <div class="item_title" v-text="item.title"></div>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {#
            -- Section --
        #}
        <div class="pagebox_section">
            <slot name="section"></slot>
        </div>
    </div>

</div>