.tabpanel
{
    $mainColor: #2e88d0;
    $itemHeight: 24px;
    $itemHeightHelf: $itemHeight / 2;

    .tabs_list
    {
        margin: 0;
        padding: 0;
        list-style: none;

        @include flexbox();
        @include flex-wrap(wrap);
    }

    .tab_item
    {
        @include inline-flex();
        @include flex-just(center);
        @include align-items(center);
        position: relative;
        margin-right: $itemHeightHelf + 5px;
        margin-bottom: 8px;
        padding: 0px 8px;
        height: $itemHeight;

        &.tab_item__istab
        {
            position: relative;
            background-color: $mainColor;
            color: #fff;
            white-space: nowrap;

            &:hover .tab_item__delete
            {
                visibility: visible;
            }

            .tab_item__delete
            {
                position: relative;
                z-index: 1;
                margin-right: -12px;
                padding-left: 5px;
                visibility: hidden;
                cursor: pointer;
            }

            &::after
            {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: $itemHeightHelf 0 $itemHeightHelf $itemHeightHelf;
                border-color: transparent transparent transparent $mainColor;
                left: 100%;
                top: 0;
            }
        }

        &.tab_item__search
        {
            @include flex(1);
            min-width: 60px;
        }
    }

    .search_tab_input
    {
        position: relative;
        display: block;
        width: 100%;

        input
        {
            border: none;
            outline: none;
            position: relative;
            background-color: transparent;
            width: 100%;

            &:focus + .dropdown_menu.show_menu
            {
                display: block;
            }
        }

        .dropdown_menu
        {
            @include box-shadow(0px 2px 3px -2px rgba(50, 50, 50, 0.38));
            border: 1px solid #ddd;
            position: absolute;
            top: 100%;
            left: 0;
            width: calc(100% + 50px);
            display: none;
            background-color: #fff;

            &.show_menu
            {
                display: block;
            }

            .menu_list
            {
                margin: 0;
                padding: 0;
                list-style: none;
                position: relative;
                // overflow-y: auto;
                // max-height: 10vh;
                width: 100%;
            }

            .menu_item
            {
                width: 100%;
                padding: 5px 8px;
                border-bottom: 1px solid #ddd;
                cursor: pointer;
                outline: none;

                &.menu_item__focus
                {
                    background-color: $mainColor;
                    color: #fff;
                }
            }

            .create_tab
            {
                width: 100%;
                padding: 3px 8px;
                border-top: 1px solid #ddd;
            }
        }
    }
}