<div id="profile">
    <div class="profile_form_wrapper">
        <vue-form id="objectProfile" :state="formstate" class="vf-form profile_form">

            <validate tag="div" class="vf-group">
                <label class="vf-label" for="title">名稱：</label>
                <div class="vf-field">
                    <input type="text" class="vf-control" v-model.trim="object.title" required name="title" placeholder="*必填">
                    <field-messages name="title" show="$dirty && $touched" class="vf-after-field">未儲存</field-messages>
                </div>
            </validate>

            <validate tag="div" class="vf-group">
                <label class="vf-label" for="title">型號：</label>
                <div class="vf-field">
                    <input type="text" class="vf-control" v-model.trim="object.model" name="model">
                    <field-messages name="model" show="$dirty && $touched" class="vf-after-field">未儲存</field-messages>
                </div>
            </validate>

            <validate tag="div" class="vf-group">
                <label class="vf-label" for="title">規格：</label>
                <div class="vf-field">
                    <input type="text" class="vf-control" v-model.trim="object.spec" name="spec">
                    <field-messages name="spec" show="$dirty && $touched" class="vf-after-field">未儲存</field-messages>
                </div>
            </validate>

            <validate tag="div" class="vf-group">
                <label class="vf-label" for="summary">備註：</label>
                <div class="vf-field">
                    <textarea type="text" class="vf-control" v-model="object.summary" name="summary" style="height: 150px"></textarea>
                    <field-messages name="summary" show="$dirty && $touched" class="vf-after-field">未儲存</field-messages>
                </div>
            </validate>


            <div class="vf-group">
                <label class="vf-label">標籤：</label>
                <div class="vf-field">
                    <tabpanel :tabs="object.tabs" @change="tabchanged = true"></tabpanel>
                    <div v-show="tabchanged" class="vf-after-field">未儲存</div>
                </div>
            </div>

            {# <pre v-text="object"></pre> #}

        </vue-form>
    </div>
</div>
