<pagebox
    id="object"
    class="object_pagebox"
    :menu="menu"
    :sidebar="{
        locked: true
    }"
    :layout="{
        header: showHeader
    }"
>
    <template slot="logo">
        <router-link :to="{ name: 'object' }" class="colorinherit">
            <i class="fa fa-cubes"></i>
        </router-link>
    </template>
    <template slot="header">
        <div class="object_navheader">
            <div>
                <div class="searchbar">
                    <input type="text" id="search_input" placeholder="搜尋..." v-model.tirm="search">
                    <label for="search_input">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </label>
                    <span class="clean_input" @click="search = ''" v-show="search.length">
                        <i class="fa fa-remove"></i>
                    </span>
                </div>
            </div>
        </div>
    </template>
    <template slot="section" class="object_section">
        <table class="object_table">
            <thead>
                <tr>
                    <th class="th_id">#</th>
                    <th class="th_title">名稱 / 規格</th>
                    <th class="th_summary">備註</th>
                    <th class="th_toolbar">
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="object in filterList(objectList)">
                    <td>
                        <span class="row_id">
                            <router-link :to="{ name: 'objectDetail', params: { id: object.id } }">
                                <span v-text="object.id"></span>
                            </router-link>
                        </span>
                    </td>
                    <td>
                        <span class="row_title" v-text="object.title"></span><span class="row_spec" v-text="' / ' + object.spec" v-if="object.spec"></span>
                    </td>
                    <td>
                        <span class="row_summary" v-text="object.summary"></span>
                    </td>
                    <td>
                        <div class="row_toolbar">
                            {#<span class="row_tool trash" @click="removeObject(object.id)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </span>#}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
</pagebox>