.node
{
    $node_bgcolor: transparent;
    $header_bgcolor: rgba(#60a7e0, .3);
    $header_inner_bgcolor: #cfe4f6;
    $nodes_top: 0px;
    $nodes_left: 20px;
    $nodes_bgcolor: transparent;
    $line_style: 1px dashed #999;
    $line_left: $nodes_left / 2;
    $line_top: 0px;

    background-color: $node_bgcolor;
    position: relative;
    vertical-align: middle;
    height: 100%;
    display: block;

    .node_header
    {
        position: relative;
        background-color: $header_bgcolor;
        padding: 5px;
        margin-right: 2px;
        z-index: 1;
        height: 100%;
        border-right: 1px solid #fff;
        margin-bottom: 5px;

        .node_type__spec,
        .node_type__part
        {
            display: none;
        }

        &[type="3"] .node_type__part,
        &[type="4"] .node_type__spec
        {
            display: inline-block;
        }

        .node_header_inner
        {
            padding: 5px;
            background-color: $header_inner_bgcolor;
        }

        .node_title
        {
            // -webkit-writing-mode: vertical-lr;
            // writing-mode: vertical-lr;
        }

        // &::after
        // {
        //     content: '';
        //     position: absolute;
        //     display: block;
        //     bottom: calc(100% + 2px);
        //     left: 0px;
        //     width: calc(50% - 1px);
        //     height: $nodes_top / 2;
        //     border-top: 1px solid #333;
        //     border-right: 1px solid #333;
        // }
    }

    .node_ul
    {
        margin: 0;
        padding: 0;
        padding-top: $nodes_top;
        padding-left: $nodes_left;
        list-style: none;
        background-color: $nodes_bgcolor;
        display: block;

        &:empty {
            display: none !important;
        }

        .node_li
        {

        }
    }

    &:after
    {
        content: '';
        display: block;
        position: absolute;
        left: $line_left;
        top: $line_top;
        border-left: $line_style;
        height: 100%;
        width: $nodes_left / 2;
    }
}