.searchbar
{
    $regionHeight: 30px;
    $fontColor: #fff;
    $fontSize: 16px;
    $fontHoverSize: 14px;

    height: $regionHeight;
    position: relative;
    margin-right: 10px;

    label
    {
        @include flexbox();
        @include flex-just(center);
        @include align-items(center);
        position: absolute;
        top: 0;
        left: 0;
        width: $regionHeight;
        height: $regionHeight;
        cursor: pointer;
    }

    .clean_input
    {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;

        &:hover
        {
            opacity: 0.8;
        }

        &:active
        {
            margin-top: 1px;
        }
    }

    #search_input
    {
        height: 100%;
        padding: 5px 5px 5px $regionHeight;
        background-color: transparent;
        border: none;
        outline: none;
        color: $fontColor;
        font-size: $fontSize;

        @include placeholder
                  {
            color: rgba($fontColor, .7);
            font-size: $fontHoverSize;
        }
    }
}